/*main{
    width:60vw;
    height:50vh;
}*/
.carousel{
    position:relative;
}
.carousel,
.carousel .img-container,
.carousel .img-container
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.carousel .img-container
{
   display: flex;
   justify-content: center;
}

.carousel .img-container img
{
    height: 100%;
    width:0;
}

.carousel .img-container img.active
{
    height: 100%;
    width:auto;
    animation: var(--timeToChange) in-out forwards;

}
.arrow{
    position: absolute;
    cursor:pointer;
    color:black;
    top:calc(50% - calc(50px));
    font-size: 60px;

}
.arrow:hover{
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(82,255,228,0);
}
.arrow-right{
    right:0;
}
@keyframes in-out {
    0% {
        opacity: 0;
      transform:translateX(100%);
    }
    20%,80% { 
        opacity: 1;
      transform:translateX(0);
    }
    100% {
        opacity: 0;

      transform:translateX(-100%);
    }
  }
