body
{
	background-image: url(https://www.univ-lyon1.fr/medias/photo/villdoua-site-20170926-131309-stephanebalmain-iutlyon1_1593178544733-jpg);
    background-size: 100% 100vh;
    background-position: top;
    background-repeat: no-repeat;
}

main{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"car car"
	"present present"
	"map map";
	white-space: pre;
}

.content{
	background-color: black;
	grid-area: car;
	margin: 0;
}
main img{
	height: 100%;
	width: 100%;

}

.presentation{
	grid-area: present;
}

.description {
	grid-area: map;
	display: flex;
	flex-direction: row;
	text-align: left;
	padding-top: 5px;
}

