main
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"intro intro"
	"info photo"
	"info photo";
	font-size: 90%;
}

span.contenu
{
 	display: none;
	width: 50%;
}
input {
  display: none;
}

label
{
	padding-right: 1%;
}

h2:hover {
		padding-right: 0;
    transform: translateX(5px);
    transition: transform 100ms ease-in-out;
    cursor: pointer;
}

input:checked + .contenu {
  	display: block;
  	padding-left: 25%;
}
div.texte 
{
	display: flex;
	grid-area: info;
	flex-direction: column;
	justify-content: space-around;
}

div.intro
{
	grid-area: intro;
	margin: 5%;
}

.competence
{
	grid-area: photo;
}
.competence img
{
	height: 50%;
	width: 50%;
}