.container{
  max-width: 100%;
  margin: 0 auto;
  font-size: 100%;
}

.flexbox-4 {
  color: purple;
  font-size: 120%;
  top: 12px;
}

.parallax{
  background: url("../images/DevApp.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 350px;
}

@media (max-width: 1035px) {

  .flexbox-4 {
      top: 3px;
  }
}