

main{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"car car"
	"present present"
	"map map";
	white-space: pre;
}

.content{
	background-color: black;
	grid-area: car;
	margin: 0;
}
main img{
	height: 100%;
	width: 100%;

}

.presentation{
	grid-area: present;
}

.description {
	grid-area: map;
	display: flex;
	flex-direction: row;
	text-align: left;
	padding-top: 5px;
}

