body {
    background-color:rgb(40, 40, 40);
    text-align: center;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

main{
    min-height:100%;
    font-family: Helvetica;
}

nav {
    font-size: larger;
    display: block;
    position: sticky;
    padding-top: calc(4vh - 1em);
    padding-bottom: calc(4vh - 1em);
    background-color: darkcyan;
    height: 2%;
    width: 100%;
    top:0;
    z-index: 10;
}

nav img{
    height: 75%;
    width: 50%;
}

.flexbox-2, .flexbox-3, .flexbox-4, .flexbox-5{
    position: relative;
    color: white;
    text-decoration: none;
}

.flexbox-item {
    transition: transform 150ms ease-in-out;
}

nav :hover {
    transform: perspective(500px) translate3d(10px, 0, 20px);
}

.flexbox-container {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.flexbox-item {
    margin-left:3%;
    margin-right:4%;
}

.lien {
    width:4%;
    height:6%;
    margin : 0px 5px;
}

.lien-externe {
    text-decoration: none;
}


footer{
    display: block;
    position: relative;
    bottom: 0px;
    background-color: grey;
}

img.lien:hover {

    /* lance l'animation et la fait durer 0.5 sec */
    animation: shake 0.6s;
    /* répete à l'infini l'animation */
    animation-iteration-count: infinite;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}