body {
    background-color:white;
    font-size: larger;
    text-align: center;
    margin:0;
    display:grid;
    grid-template-columns: repeat(2,1fx);
    grid-template-rows: 1fx 2fx 1fx;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

header{
    grid-area: header;
}

nav{
    padding-top:5px;
    background-color: rgb(40, 40, 40);
    height: 50px;
}
nav img{
    background-color: darkcyan;
    width:40%;
}


nav a {
    color: white;
    text-decoration: none;
    transition: transform 100ms ease-in-out;
}

nav a:hover{
    transform: translateX(10px);

}


.flexbox-container {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.flexbox-item {
    margin-left:5vw;
    margin-right:5vw;
    border-width: 10px;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: grey;
    justify-content: center;
    text-align:center;
    margin-top: 5px;
}
.lien {
    width:42px;
    height:42px;
    margin : 0px 5px;
}

.lien-externe {
    text-decoration: none;
}

