div.box {
    display: grid;
    justify-content: center;
    grid-template-columns:  1fr 1fr;
}

.flexbox-3 {
    color: green;
    font-size: 120%;
    top: 12px;
}

/* contenu pseudo élements (formes sans contenu) */

div.shape-top-left {
    margin-top: 50px;
    padding: 15px;
    margin-left: 10vw;
    background-color:darkcyan;
    border-top-left-radius: 50%;
    float: center;
    shape-outside: margin-box;
}

div.shape-top-right {
    margin-top: 50px;
    padding: 15px;
    margin-right: 10vw;
    background-color:white;
    border-top-right-radius: 50%;
    float: center;
    shape-outside: margin-box;
}

div.shape-bot-left {
    margin-bottom: 50px;
    padding: 15px;
    margin-left: 10vw;
    background-color:darkcyan;
    border-bottom-left-radius: 50%;
    float: center;
    shape-outside: margin-box;
}

div.shape-bot-right {
    margin-bottom: 50px;
    padding: 15px;
    margin-right: 10vw;
    background-color:white;
    border-bottom-right-radius: 50%;
    float: center;
    shape-outside: margin-box;
}


/* contenu a l'interieur du menu  */

article.right-content {
    text-align: left;
    position: relative;
    padding-left: 10px;
    margin-right: 10vw;
    background-color: white;
    color: black;
    right: 0px;
}

article.left-content {
    text-align: right;
    position: relative;
    padding-right: 10px;
    margin-left: 10vw;
    background-color: darkcyan;
    color: black;
    left: 0px;
}

.integrer-intro {
    text-align: left;
    margin-right: 20vw;
}

.image-ronde {
    border-radius: 50%;
    border: 5px solid black;
    width: 200px;
    height:200px;
    float: left;
    shape-outside: margin-box;
    position: relative;
    margin-right: 50px;
    margin-left: 20vw;
}

@media (max-width: 1035px) {

    .flexbox-3 {
        top: 3px;
    }
}