.container{
  max-width: 100%;
  margin: 0 auto;
  font-size: 24px;
}

.parallax{
  background: url("../images/DevApp.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}