body {
    background-color:rgb(40, 40, 40);
    font-size: larger;
    text-align: center;
    color: white;
}


nav{
    display: block;   
    position: sticky;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: darkcyan;
    height: 50px;
}

nav img{
    height: 100%;
    width: 100%;
}

.flexbox-2, .flexbox-3, .flexbox-4{
    position: relative;
    top: 10px;
    color: white;
    text-decoration: none;
    transition: transform 100ms ease-in-out;
}

nav a:hover {
    transform: translateX(5px);
}

.flexbox-container {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.flexbox-item {
    margin-left:5vw;
    margin-right:5vw;
}

.lien {
    width:42px;
    height:42px;
    margin : 0px 5px;
}

.lien-externe {
    text-decoration: none;
}

main{
    min-height:100%;
    font-family:  Helvetica;
}


footer{
    display:block;
    width: 100%;
    background-color: grey;
    justify-content: center;
    text-align:center;

}

img.lien:hover {
    /* lance l'animation et la fait durer 0.5 sec */
    animation: shake 0.6s;
    /* répete à l'infini l'animation */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

