main {
	display:flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
	width: 100%;
}

a:link {
	text-decoration: none;
	cursor:-moz-grabbing;
}

/* div carrousel */

.en-tete {
	position: absolute;
	color:ivory;
	top: calc(50vh - 1em);
	left: calc(50vw - 370px);
	justify-content: center;
	text-shadow: 1px 1px 2px black, 0 0 1em cyan, 0 0 0.2em darkcyan;
	font-size: 250%;
	animation: appearsBot 0.5s;
	animation-iteration-count: 1;
}

.en-tete:after {
	content:'';
	display: block;
	margin: auto;
	height: 1%;
	width: 0%;
	border-radius: 20%;
	background: transparent;
	transition: width 0.5s ease, background-color 0.5s ease;
}
   
.en-tete:hover:after {
	width: 80%;
	background: ivory;
}






/* div bubule */

.separateur {
	padding: 15px;
    shape-outside: margin-box;
	border-radius: 0 0 50% 50%;
	transition: all 0.5s ease-in-out;
	background-color: cyan;
	margin-bottom: 150px;
}

.barre {
	position:absolute;
    background-color: darkcyan;
	top: 121vh;
    height: 550px;
    width:6px;
    left: calc(50vw - 13px);
	border-radius: 0 0 25% 25%;
}

.circle {
	position:absolute;
    background-color: darkcyan;
	top: 120vh;
    left: calc(50vw - 25px);
	border-radius: 50%;
	height: 30px;
	width: 30px;
}

.separateur.scroll {
	background-color: darkcyan;
	position:sticky;
	top: 8vh;
	z-index: 10;
}

.bubules {
	text-align: center;
	color: ivory;
	display: flex;
	flex-direction: column;
}

.boxinfo {
	visibility: hidden;
	font-size: 180%;
	background: linear-gradient(45deg, darkcyan, rgb(21, 196, 196));
	padding: 15px ;
	border-radius: 20%;
    margin: 0 40% 0 40%;
	transition: all 0.5s ease-in-out;
	font-style: italic;
}

.boxinfo-1, .boxinfo-3 {
	position: relative;
	left: 17%;
	text-align: left;
	padding-left: 30px;
}

.boxinfo-2, .boxinfo-4 {
	position: relative;
	right: 17%;
	text-align: right;
	padding-right: 30px;
}

.boxinfo-1.scroll, .boxinfo-3.scroll {
	visibility: visible;
	animation: appearsRight 0.5s;
	animation-iteration-count: 1;
}

.boxinfo-2.scroll, .boxinfo-4.scroll {
	visibility: visible;
	animation: appearsLeft 0.5s;
	animation-iteration-count: 1;
}







/* div structure */

.structure {
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
}

div.structure img {
	height: 40%;
	width: 100%;
	filter: blur(3px);
}

.presentation {
	margin: 100px 4vw 0 4vw;
	background-color: darkgray;
	height: 480px;
	width: 300px;
	border-radius: 5%;
	visibility: hidden;
	color: ivory;
}

.presentation p {
	padding: 0 25px 50px 25px;
}

.pres-2 p, .pres-3 p{
	padding-top: 20px;
}

.presentation h3{
	font-size: 150%;
	padding-top: 20px;
}

.pres-1:hover {
	transition: all 0.5s ease-in-out;
	background-color: lightcoral;
}

.pres-1:hover img {
	transition: all 0.5s ease-in-out;
	filter: blur(0);
}

.pres-2:hover {
	transition: all 0.5s ease-in-out;
	background-color: green;
}

.pres-2:hover img {
	transition: all 0.5s ease-in-out;
	filter: blur(0);
}

.pres-3:hover {
	transition: all 0.5s ease-in-out;
	background-color: blueviolet;
}

.pres-3:hover img {
	transition: all 0.5s ease-in-out;
	filter: blur(0);
}

.pres-3.scroll {
	visibility: visible;
	animation: appearsRight 0.5s;
	animation-iteration-count: 1;
}

.pres-2.scroll {
	visibility: visible;
	animation: appearsBot 0.5s;
	animation-iteration-count: 1;
}

.pres-1.scroll {
	visibility: visible;
	animation: appearsLeft 0.5s;
	animation-iteration-count: 1;
}





/* div presentation // animation sur les nuages */

.nuage-1.scroll {
	visibility: visible;
	animation: appearsLeft 0.5s;
	animation-iteration-count: 1;
}

.nuage-2.scroll {
	visibility: visible;
	animation: appearsRight 0.5s;
	animation-iteration-count: 1;
}

.nuage-3.scroll {
	visibility: visible;
	animation: appearsLeft 0.5s;
	animation-iteration-count: 1;
}

.nuage-4.scroll {
	visibility: visible;
	animation: appearsRight 0.5s;
	/* animation-iteration-count: 1; */
}



/* div loca */

.map {
	padding: 5px 0px 30px 0px;
	width: 50px;
	height: 30px;
	border: 0;
	filter: invert(100%);
	border-radius: 10%;
	position: fixed;
	right: -150px;
	bottom: 100px;
	transition: all 0.5s ease-in-out;
}

.map.scroll {
	right: 100px;
	width: 600px;
	height: 400px;
}

.explication-map, .adresse {
	background: linear-gradient(45deg, darkcyan, rgb(26, 172, 172));
	padding: 20px;
	position: relative;
	bottom: 50px;
	right: 350px;
	border-radius: 10%;
	margin: 0 35% 50px 35%;
	visibility: hidden;
}

.explication-map.scroll  {
	visibility: visible;
	animation: appearsLeft 0.5s;
}

.adresse.scroll  {
	visibility: visible;
	animation: appearsLeft 0.5s;
}






/* animations */

@keyframes appearsRight {
    0% { transform: translate(100px, 0px) }
    100% { transform: translate(0px, 0px) }	
}

@keyframes appearsLeft {
    0% { transform: translate(-100px, 0px) }
    100% { transform: translate(0px, 0px) }	
}

@keyframes appearsBot {
    0% { transform: translate(0px, 50px) }
    100% { transform: translate(0px, 0px) }	
}

/* media querries pour le responsive */

/* @media (width < height) {

} */