h1 {
	left: calc(50vw - 195px);
}

.part-one {
  margin: 180px calc(20vw + 100px) 50px calc(20vw + 100px);
  background: darkcyan;
  border-radius: 10%;
  padding: 30px 50px 30px 50px;
}

.separateur {
	padding: 15px;
	border-radius: 0 0 50% 50%;
	background-color: darkcyan;
	position:sticky;
	top: 8vh;
	z-index: 10;
}

.flexbox-4 {
  color: purple;
  font-size: 120%;
  top: 12px;
}

.parallax {
  background: url("../images/DevApp.jpg") no-repeat center;
  background-size: 100%;
  background-attachment: fixed;
  height: 600px;
}

@media (max-width: 1035px) {

  .flexbox-4 {
      top: 3px;
  }
}

@media (orientation: portrait) {
    
  h1 {
      left: calc(50vw - 120px);
  }
}