main{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"car car"
	"present map"
	"video video";
}

.carousel
{
	grid-area: car;
}

.presentation{
	grid-area: present;
	text-align: justify;
	margin-top: 25px;
	padding-left: 5px;
}

.presentation p
{
	background-color: green;
	color: black;
	white-space: pre;
}

#map
{
	grid-area: map;
	padding-top: 5px;
}
