body {
    background-color:white;
    font-size: larger;
    text-align: center;
    margin:0;
}

header a img{
    height: 60%;
    width: 25%;
}

nav{
    padding-top:5px;
    background-color: rgb(40, 40, 40);
    height: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: transform 100ms ease-in-out;
}

nav a:hover {
    transform: translateX(5px);
}

.flexbox-container {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.flexbox-item {
    margin-left:5vw;
    margin-right:5vw;
}

.lien {
    width:42px;
    height:42px;
    margin : 0px 5px;
}

.lien-externe {
    text-decoration: none;
}

main{
    display:grid;
    grid-template-columns: 3;
    
}

/* rajouté en plus apres modif avec valentin */

footer{
    display:block;
    width: 100vw;
    background-color: grey;
    position: sticky;
    bottom:0px;
    justify-content: center;
    text-align:center;
}

img.lien:hover {
    /* lance l'animation et la fait durer 0.5 sec */
    animation: shake 0.6s;
    /* répete à l'infini l'animation */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

div.box {
    display: grid;
    justify-content: center;
    grid-template-columns:  1fr 1fr;
}

div.shape-top-left {
    margin-top: 50px;
    padding: 15px;
    margin-left: 10vw;
    background-color:rgb(40, 40, 40);
    border-top-left-radius: 50%;
    float: center;
    shape-outside: margin-box;
}

div.shape-top-right {
    margin-top: 50px;
    padding: 15px;
    margin-right: 10vw;
    background-color:rgb(146, 146, 146);
    border-top-right-radius: 50%;
    float: center;
    shape-outside: margin-box;
}

article.right-content {
    text-align: left;
    margin-left: 10px;
    position: relative;
    right: 0px;
}

article.left-content {
    text-align: right;
    margin-right:10px;
    position: relative;
    left: 0px;
}

.integrer-intro {
    text-align: left;
    margin-right: 20vw;
}

.image-ronde {
    border-radius: 50%;
    border: 5px solid black;
    width: 200px;
    height:200px;
    float: left;
    shape-outside: margin-box;
    position: relative;
    margin-right: 50px;
    margin-left: 20vw;
}

main {
    font-family:  Helvetica;
}